Repository voxpupuli/puppet-kibana, pull requests merged in 2025-06, with the labels that each got.

#93 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#94 Add Ubuntu 22.04 and 24.04
  metadata.json
Labels: enhancement

#96 Drop Redhat 7
  metadata.json
Labels: backwards-incompatible

#98 Drop Debian 10
  metadata.json
Labels: backwards-incompatible

#99 Drop Amazon 2017.03
  metadata.json
Labels: backwards-incompatible

#104 Drop Ubuntu 18.04 and 20.04
  metadata.json
Labels: backwards-incompatible

#103 Add RedHat 9
  metadata.json
Labels: enhancement

#101 Add AlmaLinux 8 and 9
  metadata.json
Labels: enhancement

#105 Allow puppet/elastic_stack 10.x
  metadata.json
Labels: enhancement

#106 Add Debian 12
  metadata.json
Labels: enhancement
